<!DOCTYPE html>
<html>
<head>
	<title>Dots Game</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="dots.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="ngdots.js"></script>
</head>
<body>
	<div id="container" ng-cloak ng-app="dots_game" ng-controller="dots_ctrl">
		<div id="name"><span>{{name}}</span></div>
		<div id="reset"><span id="reset_text" class="top_bar_text" ng-click="reset()">RESET</span></div>
		<div id="top_bar">
			<div id="scoreboard">
				<div id="me"><span class="top_bar_text">{{my_score}}</span></div>
				<div id="you"><span class="top_bar_text">{{your_score}}</span></div>
			</div>
			<div id="timer"><span class="top_bar_text">{{timer_mins}}:{{timer_secs}}</span></div>
		</div>
		<div id="gameboard">
			<div class="grid" data="{{x}}" ng-repeat="x in grid">
				<div class="checker" data="0"></div>
			</div>
		</div>
		<div id="dots_container">
			<div id="dots_board">
				<div class="dot" data="{{x}}" ng-repeat="x in dot" ng-click="select($event)"></div>
			</div>
		</div>
	</div>
</body>
</html>